.podcastImgWrapper {
  min-width: 125px;
  min-height: 125px;
  max-width: 125px;
  max-height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.podcastImg {
  width: 100%;
}
